@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

$secondary-color: #fdd;

$base-background-light: #fcfcfc;
$text-light: #414141;

$base-background-dark: rgba(10, 18, 30, 0.975);
$text-dark: white;

$breakpoint-tablet: 900px;
$breakpoint-phone: 600px;

$image-spacing-gallery: 4px;

html {
  body {
    &.body-light {
      background: $base-background-light;
      color: $text-light;
      a {
        color: $text-light;
      }
    }

    &.body-dark {
      background: $base-background-dark;
      color: $text-dark;
      a {
        color: $text-dark;
      }
    }
    a {
      text-decoration: none;
      transition: 0.5s;

      &:hover {
        opacity: 0.7;
        color: $secondary-color;
      }

      &:active {
        opacity: 1;
        transform: scale(1.05);
      }
    }
    * {
      font-family: Raleway;
    }
  }
}
