.container .category-container {
  position: relative;
  text-align: center;
  display: flex;
  color: white;
}
.container .category-container .background-picture {
  width: 100%;
}
.container .category-container .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  font-weight: 600;
  font-size: 1.9rem;
  border: 2px white solid;
  padding: 0.8rem;
}
